.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #156061;
}

.encabezado h1 {
  color: #ffffff;
  font-size: 28px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}
